.button-send-modal {
	@extend %button-standart;

	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);

	margin-bottom: 40px;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: #0cda3f;
	}
}

.button-close-modal {
	position: absolute;
	top: 8px;
	right: 8px;

	width: 30px;
	height: 30px;
	padding: 0;

	background-color: #ffffff;

	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);

	cursor: pointer;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: #2196f3;
	}

	& .close-modal {
		position: absolute;
		bottom: 5px;
		right: 5px;

		@include svg(18px, 18px);
		fill: currentColor;
	}
}
