.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background: rgba(0, 0, 0, 0.2);

	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.modal-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 40px;
		box-sizing: border-box;

		width: 100%;
		height: 609px;
		background-color: #ffffff;

		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 4px;

		& .modal-title {
			margin: 0;

			padding-bottom: 12px;
			font-weight: bold;
			font-size: 20px;
			line-height: 1.5;
			text-align: center;
		}

		@media screen and (min-width: 479px) and (max-width: 1169px) {
			width: 450px;
		}

		@media screen and (min-width: 1170px) {
			width: 528px;
		}
	}
}

.modal-overlay.is-hidden {
	opacity: 0;
	pointer-events: none;
	transform: scaleX(1.2);

	& .modal-form {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 0px 40px;
		box-sizing: border-box;

		width: 100%;
		height: 609px;
		background-color: #ffffff;

		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 4px;

		& .modal-title {
			margin: 0;

			padding-bottom: 12px;
			font-weight: bold;
			font-size: 20px;
			line-height: 1.15;
			text-align: center;
		}

		@media screen and (min-width: 479px) {
			width: 450px;
		}
	}
}

.form-field {
	position: relative;
	display: flex;

	flex-direction: column;
	margin-left: auto;
	margin-right: auto;

	width: 100%;

	padding-bottom: 10px;

	@media screen and (max-width: 767px) {
		&:hover .form-field-title,
		&:focus .form-field-title {
			color: $acent-color;
		}
	}

	&:nth-last-child(4) {
		padding-bottom: 20px;
	}

	& .form-field-title {
		font-weight: normal;
		font-size: 12px;
		line-height: 1.167;
		letter-spacing: 0.01em;

		padding-bottom: 4px;
		color: $secondary-text-color;
	}

	& .modal-input {
		height: 40px;

		padding: 12px 0px 12px 40px;

		border: 1px solid rgba(33, 33, 33, 0.2);
		box-sizing: border-box;
		border-radius: 4px;

		transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			border: 1px solid $acent-color;
			outline: none;
		}

		&:hover + .modal-svg,
		&:focus + .modal-svg {
			fill: $acent-color;
		}
	}

	& .modal-svg {
		@include svg(18px, 18px);
		position: absolute;
		top: 29px;
		left: 12px;
	}
}

.form-field {
	& .comment {
		padding: 12px 16px;
		height: 120px;
		resize: none;

		border: 1px solid rgba(33, 33, 33, 0.2);
		box-sizing: border-box;
		border-radius: 4px;

		font-weight: normal;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.01em;

		color: rgba(117, 117, 117, 0.5);

		&.comment:hover,
		&.comment:focus {
			border: 1px solid $acent-color;
			outline: none;
		}
	}
}
