.section.list.project {
	& .item-projects {
		&:hover .project-information-test,
		&:focus .project-information-test {
			transform: rotateY(-180deg);
			background: rgba(33, 150, 243, 0.9);
			outline: none;
		}

		&:hover .project-title-test {
			opacity: 1;
		}
	}
}

.project-links-test {
	display: block;
	position: relative;
	width: 370px;
	height: 294px;

	& .project-information-test {
		position: relative;
		width: 100%;
		height: 100%;
		transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
		transform-style: preserve-3d;
	}

	& .project-img-test {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		box-sizing: border-box;

		display: block;
		z-index: 2;
		transform: rotateY(0deg);

		backface-visibility: hidden;
	}
	& .project-title-test {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		box-sizing: border-box;

		margin: 0;
		padding: 63px 24px;
		font-weight: normal;
		font-size: 18px;
		line-height: 1.55;
		color: #ffffff;
		letter-spacing: 0.03em;

		transform: rotateY(-180deg);
		background-color: rgba(33, 150, 243, 0.9);

		opacity: 0;
	}
}
