.auth-nav {
	& .link {
		display: inline-flex;
		align-items: center;
		color: $secondary-text-color;
		font-weight: 500;
		font-size: 18px;
		line-height: 1.2;
		letter-spacing: 0.02em;

		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	& .link:hover,
	.link:focus {
		color: $acent-color;
	}

	@media screen and (max-width: 767px) {
		& .item {
			margin-bottom: 16px;
		}

		&:last-child {
			margin-bottom: 60px;
		}
	}

	@media screen and (min-width: 767px) {
		margin-left: 84px;
		& .item {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin: 0;

			& .link {
				display: flex;
				align-items: center;
				font-size: 12px;
			}
		}

		& .item + .item {
			margin-top: 10px;
		}
	}

	@media screen and (min-width: 1170px) {
		display: flex;
		margin: 0;
		& .item {
			& .link {
				font-size: 14px;
			}
		}

		& .item + .item {
			margin: 0;
			margin-left: 30px;
		}
	}
}

.e-mail {
	@include SvgHeader(16px, 17.2px);
}

.smartphone {
	@include SvgHeader(20px, 15px);
}
