.site-nav.list {
	& .item {
		margin-bottom: 52px;

		& .link {
			position: relative;

			color: $primary-text-color;
			font-weight: 500;
			font-size: 18px;
			line-height: 1.2;
			letter-spacing: 0.02em;

			padding: 0;
		}

		&:last-child {
			margin-bottom: 0px;
		}
	}
	@media screen and (max-width: 767px) {
		padding: 60px 0;
		text-align: center;
	}

	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;

		& .item {
			margin: 0;

			& .link {
				display: block;
				padding: 32px 0;

				font-size: 14px;
			}
		}

		& .item + .item {
			margin-left: 50px;
		}
	}

	& .link::after {
		content: "";

		position: absolute;
		left: 0;
		bottom: 0;

		display: block;
		width: 100%;
		height: 4px;
		border-radius: 2px;
		bottom: -1px;
		background-color: $acent-color;

		opacity: 0;
	}

	& .link.current::after {
		opacity: 1;
	}

	@media screen and (max-width: 767px) {
		& .link.current {
			padding-bottom: 8px;
		}
	}

	@media screen and (min-width: 1170px) {
		margin-right: 305px;
	}
}
